src/main/mule/cm-insertcsv-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="cm-insertcsv-api-main">
		<http:listener
			config-ref="cm-insertcsv-api-httpListenerConfig" path="${api.path}">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="cm-insertcsv-api-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="APIKIT:BAD_REQUEST">
					<ee:message>
						<ee:set-payload resource="dataweaves/bad_request.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="APIKIT:NOT_FOUND">
					<ee:message>
						<ee:set-payload resource="dataweaves/not_found.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="APIKIT:METHOD_NOT_ALLOWED">
					<ee:message>
						<ee:set-payload resource="dataweaves/method_not_allowed.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="APIKIT:NOT_ACCEPTABLE">
					<ee:message>
						<ee:set-payload resource="dataweaves/not_acceptable.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="APIKIT:UNSUPPORTED_MEDIA_TYPE">
					<ee:message>
						<ee:set-payload resource="dataweaves/unsupported_media_type.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="APIKIT:NOT_IMPLEMENTED">
					<ee:message>
						<ee:set-payload resource="dataweaves/not_implemented.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7b80a037-8a59-4710-b875-03e70372d795" >
				<ee:transform doc:name="default" doc:id="a304d22f-d120-4a94-8b03-01cf126d9a00" >
					<ee:message >
						<ee:set-payload resource="dataweaves/any_error.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="post:\insert:application\json:cm-insertcsv-api-config">
		<flow-ref doc:name="Refer to cm-insertcsvFlow"
			doc:id="e80195a4-663b-46e9-be94-568505611989" name="cm-insertcsvFlow" />
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Final Response">
            <ee:message>
				<ee:set-payload resource="dataweaves/final_response.dwl" />
            </ee:message>
        </ee:transform>
    </flow>
</mule>
